# Проект "Выявление потенциальных фрод транзакций в журнале операций бухгалтерской базы данных"

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Цель,-задачи,-описание-источников-данных-и-план-работы" data-toc-modified-id="Цель,-задачи,-описание-источников-данных-и-план-работы-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Цель, задачи, описание источников данных и план работы</a></span><ul class="toc-item"><li><span><a href="#Цель-проекта" data-toc-modified-id="Цель-проекта-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Цель проекта</a></span></li><li><span><a href="#Задачи-проекта" data-toc-modified-id="Задачи-проекта-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Задачи проекта</a></span></li><li><span><a href="#Описание-источников-данных" data-toc-modified-id="Описание-источников-данных-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Описание источников данных</a></span></li><li><span><a href="#План-работы" data-toc-modified-id="План-работы-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>План работы</a></span></li></ul></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Загрузка данных</a></span><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Объявление-общих-функций" data-toc-modified-id="Объявление-общих-функций-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Объявление общих функций</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Объявление-общих-для-всех-тестов-переменных" data-toc-modified-id="Объявление-общих-для-всех-тестов-переменных-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Объявление общих для всех тестов переменных</a></span></li><li><span><a href="#Удаление-ненужных-колонок-и-корректировка-типов-данных" data-toc-modified-id="Удаление-ненужных-колонок-и-корректировка-типов-данных-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Удаление ненужных колонок и корректировка типов данных</a></span></li></ul></li></ul></li><li><span><a href="#Тестирование" data-toc-modified-id="Тестирование-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Тестирование</a></span><ul class="toc-item"><li><span><a href="#Тесты-на-целостность-и-баланс-данных-в-журнале" data-toc-modified-id="Тесты-на-целостность-и-баланс-данных-в-журнале-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Тесты на целостность и баланс данных в журнале</a></span><ul class="toc-item"><li><span><a href="#Тест-А.-Целостность" data-toc-modified-id="Тест-А.-Целостность-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Тест А. Целостность</a></span><ul class="toc-item"><li><span><a href="#Функция-для-отбора-односторонних-операций" data-toc-modified-id="Функция-для-отбора-односторонних-операций-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Функция для отбора односторонних операций</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-Б.-Баланс" data-toc-modified-id="Тест-Б.-Баланс-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Тест Б. Баланс</a></span><ul class="toc-item"><li><span><a href="#Сохранение-в-Excel" data-toc-modified-id="Сохранение-в-Excel-3.1.2.1"><span class="toc-item-num">3.1.2.1&nbsp;&nbsp;</span>Сохранение в Excel</a></span></li></ul></li><li><span><a href="#Тест-В.-Полнота" data-toc-modified-id="Тест-В.-Полнота-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Тест В. Полнота</a></span><ul class="toc-item"><li><span><a href="#Загружаем-ОСВ-и-исключаем-лишние-данные" data-toc-modified-id="Загружаем-ОСВ-и-исключаем-лишние-данные-3.1.3.1"><span class="toc-item-num">3.1.3.1&nbsp;&nbsp;</span>Загружаем ОСВ и исключаем лишние данные</a></span></li><li><span><a href="#Получаем-данные-из-ЖП-и-группируем-по-счетам" data-toc-modified-id="Получаем-данные-из-ЖП-и-группируем-по-счетам-3.1.3.2"><span class="toc-item-num">3.1.3.2&nbsp;&nbsp;</span>Получаем данные из ЖП и группируем по счетам</a></span></li><li><span><a href="#Объединяем-ОСВ-и-ЖП-и-рассчитываем-дельту-в-оборотах" data-toc-modified-id="Объединяем-ОСВ-и-ЖП-и-рассчитываем-дельту-в-оборотах-3.1.3.3"><span class="toc-item-num">3.1.3.3&nbsp;&nbsp;</span>Объединяем ОСВ и ЖП и рассчитываем дельту в оборотах</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.1.3.4"><span class="toc-item-num">3.1.3.4&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li></ul></li><li><span><a href="#Тесты-по-анализу-отдельных-операций" data-toc-modified-id="Тесты-по-анализу-отдельных-операций-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Тесты по анализу отдельных операций</a></span><ul class="toc-item"><li><span><a href="#Г.-Выявление-редких-проводок" data-toc-modified-id="Г.-Выявление-редких-проводок-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Г. Выявление редких проводок</a></span><ul class="toc-item"><li><span><a href="#Функция-для-отбора-редких-проводок" data-toc-modified-id="Функция-для-отбора-редких-проводок-3.2.1.1"><span class="toc-item-num">3.2.1.1&nbsp;&nbsp;</span>Функция для отбора редких проводок</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.1.2"><span class="toc-item-num">3.2.1.2&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-Д.-Поиск-по-подозрительными-описанию-операции" data-toc-modified-id="Тест-Д.-Поиск-по-подозрительными-описанию-операции-3.2.2"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>Тест Д. Поиск по подозрительными описанию операции</a></span><ul class="toc-item"><li><span><a href="#Поиск-по-подозрительным-словам" data-toc-modified-id="Поиск-по-подозрительным-словам-3.2.2.1"><span class="toc-item-num">3.2.2.1&nbsp;&nbsp;</span>Поиск по подозрительным словам</a></span></li><li><span><a href="#Поиск-операций-без-описания-или-минимальным-описанием" data-toc-modified-id="Поиск-операций-без-описания-или-минимальным-описанием-3.2.2.2"><span class="toc-item-num">3.2.2.2&nbsp;&nbsp;</span>Поиск операций без описания или минимальным описанием</a></span></li><li><span><a href="#Функция-для-выгрузки-операций-с-коротким-или-подозрительным-описанием" data-toc-modified-id="Функция-для-выгрузки-операций-с-коротким-или-подозрительным-описанием-3.2.2.3"><span class="toc-item-num">3.2.2.3&nbsp;&nbsp;</span>Функция для выгрузки операций с коротким или подозрительным описанием</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.2.4"><span class="toc-item-num">3.2.2.4&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-Е.-Нерабочие-и-праздничные-дни" data-toc-modified-id="Тест-Е.-Нерабочие-и-праздничные-дни-3.2.3"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>Тест Е. Нерабочие и праздничные дни</a></span><ul class="toc-item"><li><span><a href="#Сформируем-списки-нерабочих-и-праздничных-дней-в-2022" data-toc-modified-id="Сформируем-списки-нерабочих-и-праздничных-дней-в-2022-3.2.3.1"><span class="toc-item-num">3.2.3.1&nbsp;&nbsp;</span>Сформируем списки нерабочих и праздничных дней в 2022</a></span></li><li><span><a href="#Сформируем-списки-нерабочих-и-праздничных-дней-в-2023" data-toc-modified-id="Сформируем-списки-нерабочих-и-праздничных-дней-в-2023-3.2.3.2"><span class="toc-item-num">3.2.3.2&nbsp;&nbsp;</span>Сформируем списки нерабочих и праздничных дней в 2023</a></span></li><li><span><a href="#Функция-для-отбора-операций-созданных-в-праздничные-дни-и-внерабочее--время" data-toc-modified-id="Функция-для-отбора-операций-созданных-в-праздничные-дни-и-внерабочее--время-3.2.3.3"><span class="toc-item-num">3.2.3.3&nbsp;&nbsp;</span>Функция для отбора операций созданных в праздничные дни и внерабочее  время</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.3.4"><span class="toc-item-num">3.2.3.4&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-Ж.-Операции-выше-порога" data-toc-modified-id="Тест-Ж.-Операции-выше-порога-3.2.4"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>Тест Ж. Операции выше порога</a></span><ul class="toc-item"><li><span><a href="#Отбор-операций-по-пороговой-сумме" data-toc-modified-id="Отбор-операций-по-пороговой-сумме-3.2.4.1"><span class="toc-item-num">3.2.4.1&nbsp;&nbsp;</span>Отбор операций по пороговой сумме</a></span></li><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.4.2"><span class="toc-item-num">3.2.4.2&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-З.-Операции-с-отрицательными-суммами" data-toc-modified-id="Тест-З.-Операции-с-отрицательными-суммами-3.2.5"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>Тест З. Операции с отрицательными суммами</a></span><ul class="toc-item"><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.5.1"><span class="toc-item-num">3.2.5.1&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-И.-Поиск-дублей-в--операциях" data-toc-modified-id="Тест-И.-Поиск-дублей-в--операциях-3.2.6"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Тест И. Поиск дублей в  операциях</a></span><ul class="toc-item"><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.6.1"><span class="toc-item-num">3.2.6.1&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li><li><span><a href="#Тест-К.-Спец-суммы" data-toc-modified-id="Тест-К.-Спец-суммы-3.2.7"><span class="toc-item-num">3.2.7&nbsp;&nbsp;</span>Тест К. Спец суммы</a></span><ul class="toc-item"><li><span><a href="#Сохранение-в-excel" data-toc-modified-id="Сохранение-в-excel-3.2.7.1"><span class="toc-item-num">3.2.7.1&nbsp;&nbsp;</span>Сохранение в excel</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Выводы" data-toc-modified-id="Выводы-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Выводы</a></span></li></ul></div>

## Цель, задачи, описание источников данных и план работы

### Цель проекта

    1. Создание механизма выявления потенциальных фрод операций в бухгалтерской базе данных.
    2. Тестирование механизма на двух периодах: 2022 и 2023 годах.

### Задачи проекта

Создать функции для выгрузки из бухгалтерской базы данных - журнала проводок, списка потенциальных фрод-операций и/или расхождений с оборотно-сальдовой ведомостью, удовлетворяющих следующим условиям:
            
            А. Целостность. Выявить все проводки, где заполнена только одна сторона Дт или Кт.
            Б. Баланс. Для каждого субсчета проверить равенство Сальдо на начало +-Обороты = Сальдо конечное. Проверка по оборотно-сальдовой ведомости (ОСВ).
            В.Полнота. По каждому субсчету сверить обороты из ОСВ с оборотами в журнале операций.
            Г. Редкие проводки. Вывести список проводок, количество которых меньше, чем месяцев в аудируемом периоде.
            Д.Проводки с подозрительным описанием, содержащие корни слов: "жертв", "подар", "дарен", "спонс", "ошиб", а также проводки без описания/с минимальным описанием.
            Е. Проводки сформированные во внерабочее время/дни.
            Ж. Проводки с суммой выше определенного порога.
            З. Проводки с отрицательными значениями.
            И. Дублирующие проводки, у которых совпадает: дата, Дт/Кт, вид документа и сумма.
            К. Проводки со специфическими суммами, кратными 1 млн. руб., или заканчивающиеся на 999 или 999.99

### Описание источников данных

    1. Журнал операций за аудируемый период
    2. Оборотно-сальдовая ведомость за аудируемый период
    3. План-счетов бухгалтерского учета

### План работы

    1. Загрузка данных и подготовка общий функций.
    
    2. Предобработка, в том числе:
                                  - объявление общих переменных;
                                  - удаление ненужной информации (лишние колонки, строки с пустыми суммами); 
                                  - исправление типов данных;
                                  - создание колонок с дополнительной аналитикой (вид_документа, проводка Dt_Kt);
                                  - удаление операций, созданных регламентами  (системными) документами;
                                  - заполнение пропусков в аналитике на "нет_описания".
                                            
    
    3. Тестирование журнала проводок в соответствии с задачами проекта и подготовка выгрузок.
    4. Выводы.

## Загрузка данных

In [502]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import math as mth
import plotly.graph_objects as go
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 100)
import re

### Загрузка данных

In [503]:
# Загрузка данных из файла XLSX
data_2022 = pd.read_excel(
    'C:/Проводки/transaction_2022.xls')
data_2023 = pd.read_excel(
    'C:/Проводки/transaction_2023.xls')

In [504]:
# план счетов
Chart_accounts = pd.read_excel(
    'C:/Проводки/План_счетов.xlsx')

In [505]:
# оборотно-сальдовая ведеомость
OSV_2022 = pd.read_excel(
    'C:/Проводки/OSV_2022.xlsx')
OSV_2023 = pd.read_excel(
    'C:/Проводки/OSV_2023.xlsx')

In [506]:
print(data_2022.shape)
print(data_2023.shape)
print(Chart_accounts.shape)
print(OSV_2023.shape)
print(OSV_2022.shape)

(31974, 33)
(32809, 33)
(126, 3)
(119, 9)
(115, 9)

### Объявление общих функций

In [507]:
# функция для сохранения выходных форм: таблицы транзакций и сгруппированной таблицы транзакций на один листов в файл excel
# задаем путь сохранения
excel_path_folder = f'C:/Проводки/Output/'

# объявляем функцию на вход которой: сгруппированная таблица, таблица транзакций,
# название файла excel, название листа excel, год.

def save_to_excel(df_df_transaction_group, name_excel_file, year, df_transaction=None):
    excel_path = excel_path_folder + f'{name_excel_file}_{year}.xlsx'
    # Создаем объект ExcelWriter для записи данных в файл Excel
    with pd.ExcelWriter(excel_path) as writer:
        # Записываем первую таблицу
        df_df_transaction_group.to_excel(
            writer, sheet_name=f'{name_excel_file}_{year}', index=False)

        # Если df_transaction не равен None, записываем вторую таблицу
        if df_transaction is not None:
            start_row = df_df_transaction_group.shape[0] + 3
            df_transaction.to_excel(
                writer, sheet_name=f'{name_excel_file}_{year}', index=False, startrow=start_row)

In [508]:
# функция для группировки транзакций и подсчета их количества и суммы
# на вход принимает датафрейм с отобранными транзакциями

def group_transaction(df):
    df_group = df.groupby(
        ['Dt_Kt', 'Название_документа', 'Критерий отбора']
    ).agg({'Сумма': ['sum', 'count']}).reset_index()

    # Переименовываем столбцы
    df_group.columns = [
        'Dt_Kt', 'Название_документа', 'Критерий отбора', 'Сумма', 'Количество_проводок'
    ]

    # Добавляем столбец с комментарием
    df_group['Комментарий_аудитора'] = 'Необходимо заполнить'

    # Сортируем по сумме и названию документа
    df_group = df_group.sort_values(
        by=['Сумма', 'Название_документа'], ascending=False)

    return df_group

### Предобработка данных

In [509]:
# создадим копии данных для работы
df2023 = data_2023.copy()
df2022 = data_2022.copy()

#### Объявление общих для всех тестов переменных

In [510]:
# установим интервалы нерабочего времени
start_time_control = pd.to_datetime('17:00').time()
end_time_control = pd.to_datetime('08:00').time()
start_time_control_extra = pd.to_datetime('16:00').time() #для сокращенных рабочих дней

In [511]:
# пороговая сумма для контроля операций
threshold_sum = 7000000

In [512]:
# создадим функцию и выделим названия типовых документов для создания списка документов для исключения из анализа
def split_document(x):
    return re.split(r' ОЛБП|00ЗК', x)[0]

# Apply the function to the 'Документ' column
df2022['Название_документа'] = df2022['Документ'].apply(split_document)
df2023['Название_документа'] = df2023['Документ'].apply(split_document)
# список документов в ЖП
docs_names2022 = df2022['Название_документа'].unique()
docs_names2023 = df2023['Название_документа'].unique()
print(docs_names2022.shape)
print()
print(docs_names2023.shape)

(20,)

(22,)

In [513]:
# системные документы и проводки, которые не будем анализируем
# список документов для исключения из анализа, так как они регламентные
selected_indices = [11, 15]
exception_reg_documents = [docs_names2022[idx] for idx in selected_indices]
exception_reg_documents

['Регламентная операция', 'Формирование записей книги покупок']

In [514]:
# Список ключевых слов для поиска потенциальных фрод-операций
fishily_keywords = ['жертв', 'подар', 'дарен', 'спонс', 'ошиб', 'откат', 'взятк', 'безвоз']

#### Удаление ненужных колонок и корректировка типов данных

In [515]:
# Удалим лишние колонки
columns_to_drop = ['Уточнение периода', 'Кол.', 'Количество Дт',
                   'Валюта Дт', 'Вал. сумма Дт', 'Подразделение Дт', 'Кол..1', 'Количество Кт',
                   'Валюта Кт', 'Вал. сумма Кт', 'Подразделение Кт',
                   'НУ', 'ПР', 'ВР', 'Сумма НУ Дт', 'Сумма ПР Дт', 'Сумма ВР Дт',
                   'Сумма НУ Кт', 'Сумма ПР Кт', 'Сумма ВР Кт']


df2023 = df2023.drop(columns=columns_to_drop)
df2022 = df2022.drop(columns=columns_to_drop)

In [516]:
# Удалим строки с нулевыми суммами
df2023.dropna(subset=['Сумма'], inplace=True)
df2022.dropna(subset=['Сумма'], inplace=True)

In [517]:
# заполнение пропусков в аналитиках техническим  описанием - "нет описания", чтобы не пропустить при группировках
# Исключаем столбец 'Сумма' из заполнения пропущенных значений
columns_to_exclude = ['Счет Дт', 'Счет Кт']
columns_to_fillna = [col for col in df2022.columns if col not in columns_to_exclude]

# Заполняем пропущенные значения в оставшихся столбцах строкой 'нет_описания'
df2022[columns_to_fillna] = df2022[columns_to_fillna].fillna('нет_описания')
df2023[columns_to_fillna] = df2023[columns_to_fillna].fillna('нет_описания')

In [518]:
# Преобразование столбца 'Дата' в тип данных datetime с указанием правильного формата
df2022['Дата'] = pd.to_datetime(df2022['Дата'], format="%d.%m.%Y %H:%M:%S")
df2023['Дата'] = pd.to_datetime(df2023['Дата'], format="%d.%m.%Y %H:%M:%S")

In [519]:
# добавим техническую колонку Dt_Kt
df2022['Dt_Kt'] = df2022.apply(lambda row: str(row['Счет Дт']) + '_' + str(row['Счет Кт']), axis=1)
df2023['Dt_Kt'] = df2023.apply(lambda row: str(row['Счет Дт']) + '_' + str(row['Счет Кт']), axis=1)

In [520]:
# создадим словарь с типом счетов
count_dict = dict(zip(Chart_accounts['Счет'], Chart_accounts['Вид счета']))
unique_values = set(count_dict.values())
unique_values

{'Балансовый', 'Забалансовый'}

In [521]:
print(df2022.info())
print(df2023.info())

<class 'pandas.core.frame.DataFrame'>
Index: 28697 entries, 0 to 31973
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   N                   28697 non-null  int64
 1   Дата                28697 non-null  datetime64[ns]
 2   Документ            28697 non-null  object
 3   Счет Дт             28659 non-null  object
 4   Субконто1 Дт        28697 non-null  object
 5   Субконто2 Дт        28697 non-null  object
 6   Субконто3 Дт        28697 non-null  object
 7   Счет Кт             28682 non-null  object
 8   Субконто1 Кт        28697 non-null  object
 9   Субконто2 Кт        28697 non-null  object
 10  Субконто3 Кт        28697 non-null  object
 11  Сумма               28697 non-null  float64
 12  Содержание          28697 non-null  object
 13  Название_документа  28697 non-null  object
 14  Dt_Kt               28697 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 3.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 29620 entries, 0 to 32808
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   N                   29620 non-null  int64
 1   Дата                29620 non-null  datetime64[ns]
 2   Документ            29620 non-null  object
 3   Счет Дт             29533 non-null  object
 4   Субконто1 Дт        29620 non-null  object
 5   Субконто2 Дт        29620 non-null  object
 6   Субконто3 Дт        29620 non-null  object
 7   Счет Кт             29611 non-null  object
 8   Субконто1 Кт        29620 non-null  object
 9   Субконто2 Кт        29620 non-null  object
 10  Субконто3 Кт        29620 non-null  object
 11  Сумма               29620 non-null  float64
 12  Содержание          29620 non-null  object
 13  Название_документа  29620 non-null  object
 14  Dt_Kt               29620 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(12)
memory usage: 3.6+ MB
None

## Тестирование

### Тесты на целостность и баланс данных в журнале

#### Тест А. Целостность

    Цель теста:
            Выявить все проводки, где заполнена только одна сторона Дт или Кт.

##### Функция для отбора односторонних операций

In [522]:
#Функция для отбора односторонних операций и группировки их по счетам и содержанию
# на вход журнал проводок, на выходе список проводок и сгруппированная таблица по счетам и документам
def process_journal(df):
    # Отбор всех односторонних проводок
    oneway_trans_dt = df[df['Счет Дт'].notna() & df['Счет Кт'].isna()]
    oneway_trans_kt = df[df['Счет Кт'].notna() & df['Счет Дт'].isna()]
    oneway_trans = pd.concat([oneway_trans_dt, oneway_trans_kt])
    
    # Создаем новый столбец 'Вид счета Дт' только для ненулевых значений в 'Счет Дт'
    oneway_trans['Вид счета Дт'] = oneway_trans['Счет Дт'].map(lambda x: count_dict[x] if not pd.isnull(x) else None)

    # Создаем новый столбец 'Вид счета Кт' только для ненулевых значений в 'Счет Кт'
    oneway_trans['Вид счета Кт'] = oneway_trans['Счет Кт'].map(lambda x: count_dict[x] if not pd.isnull(x) else None)

    # Затем создаем новый столбец "Вид счета", объединяя значения из двух предыдущих столбцов
    oneway_trans['Вид счета'] = oneway_trans['Вид счета Дт'].fillna(oneway_trans['Вид счета Кт'])
    oneway_trans.drop(columns=['Вид счета Дт','Вид счета Кт'], inplace=True)
    
    # Создание сводной таблицы для анализа односторонних проводок
    oneway_trans_groupdt = oneway_trans.pivot_table(values='Сумма',
                                                     index=['Счет Дт','Вид счета', 'Содержание', 'Название_документа'],
                                                     aggfunc='sum', dropna=True).reset_index()
    oneway_trans_groupdt = oneway_trans_groupdt.rename(
        columns={'Счет Дт': 'Счет', 'Вид счета':'Вид счета', 
                 'Название_документа': 'Название_документа', 'Сумма': 'Оборот Дт', 
                 'Содержание': 'Содержание операции'})

    oneway_trans_groupkt = oneway_trans.pivot_table(values='Сумма',
                                                     index=['Счет Кт','Вид счета','Содержание', 'Название_документа'],
                                                     aggfunc='sum', dropna=True).reset_index()

    oneway_trans_groupkt = oneway_trans_groupkt.rename(
        columns={'Счет Кт': 'Счет', 'Вид счета':'Вид счета', 
                 'Название_документа': 'Название_документа', 'Сумма': 'Оборот Кт', 
                 'Содержание': 'Содержание операции'})

    oneway_trans_group = pd.concat(
        [oneway_trans_groupdt, oneway_trans_groupkt])

    # Создаем итоговую строку с суммами по каждому столбцу
    total_row = pd.DataFrame({
        'Счет': ['Итого'],
        'Оборот Дт': [oneway_trans_group['Оборот Дт'].sum()],
        'Оборот Кт': [oneway_trans_group['Оборот Кт'].sum()]
    })

    # Добавляем итоговую строку к сводной таблице
    oneway_trans_group = pd.concat([oneway_trans_group, total_row], ignore_index=True)
        
    # перегруппируем колонки
    oneway_trans_group = oneway_trans_group[[
        'Счет', 'Вид счета', 'Название_документа', 'Оборот Дт', 'Оборот Кт', 'Содержание операции']]

    oneway_trans_group['Комментарий аудитора'] = 'Необходимо заполнить'

    return oneway_trans_group, oneway_trans

In [523]:
# Применяем функцию к вашему журналу проводок
oneway_trans_2022_group, oneway_trans_2022 = process_journal(df2022)
oneway_trans_2023_group, oneway_trans_2023 = process_journal(df2023)

In [524]:
# Выведем сгруппированный результат
display(oneway_trans_2023_group.head(0))
print(oneway_trans_2023.info())
print()
display(oneway_trans_2022_group.head(0))
print(oneway_trans_2022.info())

Empty DataFrame
Columns: [Счет, Вид счета, Название_документа, Оборот Дт, Оборот Кт, Содержание операции, Комментарий аудитора]
Index: []

<class 'pandas.core.frame.DataFrame'>
Index: 96 entries, 4136 to 29164
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   N                   96 non-null     int64
 1   Дата                96 non-null     datetime64[ns]
 2   Документ            96 non-null     object
 3   Счет Дт             9 non-null      object
 4   Субконто1 Дт        96 non-null     object
 5   Субконто2 Дт        96 non-null     object
 6   Субконто3 Дт        96 non-null     object
 7   Счет Кт             87 non-null     object
 8   Субконто1 Кт        96 non-null     object
 9   Субконто2 Кт        96 non-null     object
 10  Субконто3 Кт        96 non-null     object
 11  Сумма               96 non-null     float64
 12  Содержание          96 non-null     object
 13  Название_документа  96 non-null     object
 14  Dt_Kt               96 non-null     object
 15  Вид счета           96 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 12.8+ KB
None

Empty DataFrame
Columns: [Счет, Вид счета, Название_документа, Оборот Дт, Оборот Кт, Содержание операции, Комментарий аудитора]
Index: []

<class 'pandas.core.frame.DataFrame'>
Index: 53 entries, 82 to 27749
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   N                   53 non-null     int64
 1   Дата                53 non-null     datetime64[ns]
 2   Документ            53 non-null     object
 3   Счет Дт             15 non-null     object
 4   Субконто1 Дт        53 non-null     object
 5   Субконто2 Дт        53 non-null     object
 6   Субконто3 Дт        53 non-null     object
 7   Счет Кт             38 non-null     object
 8   Субконто1 Кт        53 non-null     object
 9   Субконто2 Кт        53 non-null     object
 10  Субконто3 Кт        53 non-null     object
 11  Сумма               53 non-null     float64
 12  Содержание          53 non-null     object
 13  Название_документа  53 non-null     object
 14  Dt_Kt               53 non-null     object
 15  Вид счета           53 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 7.0+ KB
None

##### Сохранение в excel

In [525]:
# Сохраняем данные
save_to_excel(oneway_trans_2023_group, 'А_целостность', 2023, oneway_trans_2023)
save_to_excel(oneway_trans_2022_group, 'А_целостность', 2022, oneway_trans_2022)

#### Тест Б. Баланс

  Цель теста: 
            Для каждого субсчета из оборотно-сальдовой ведомости (ОСВ) проверить равенство Сальдо на начало +-Обороты = Сальдо конечное.

In [526]:
OSV_2022['Контроль баланса'] = OSV_2022['Сн_Дебет'] - \
    OSV_2022['Сн_Кредит']+OSV_2022['Оборот_Дт'] - \
    OSV_2022['Оборот_Кт']-OSV_2022['Ск_Дебет']+OSV_2022['Ск_Кредит']
OSV_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Счет              115 non-null    object
 1   Название счета    114 non-null    object
 2   Уровень_отч       76 non-null     float64
 3   Сн_Дебет          30 non-null     float64
 4   Сн_Кредит         33 non-null     float64
 5   Оборот_Дт         105 non-null    float64
 6   Оборот_Кт         108 non-null    float64
 7   Ск_Дебет          35 non-null     float64
 8   Ск_Кредит         38 non-null     float64
 9   Контроль баланса  1 non-null      float64
dtypes: float64(8), object(2)
memory usage: 9.1+ KB

In [527]:
OSV_2023['Контроль баланса'] = OSV_2023['Сн_Дебет'] - \
    OSV_2023['Сн_Кредит']+OSV_2023['Оборот_Дт'] - \
    OSV_2023['Оборот_Кт']-OSV_2023['Ск_Дебет']+OSV_2023['Ск_Кредит']
OSV_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Счет              119 non-null    object
 1   Название счета    118 non-null    object
 2   Уровень_отч       81 non-null     float64
 3   Сн_Дебет          35 non-null     float64
 4   Сн_Кредит         38 non-null     float64
 5   Оборот_Дт         102 non-null    float64
 6   Оборот_Кт         111 non-null    float64
 7   Ск_Дебет          32 non-null     float64
 8   Ск_Кредит         36 non-null     float64
 9   Контроль баланса  1 non-null      float64
dtypes: float64(8), object(2)
memory usage: 9.4+ KB

##### Сохранение в Excel

In [528]:
save_to_excel(OSV_2023,'Б_Баланс', 2023)
save_to_excel(OSV_2022,'Б_Баланс', 2022)

#### Тест В. Полнота

    Цель теста: 
            По каждому субсчету сверить обороты из ОСВ с оборотами в журнале операций.

##### Загружаем ОСВ и исключаем лишние данные

In [529]:
OSV_2022_drop = OSV_2022[['Счет', 'Уровень_отч', 'Оборот_Дт', 'Оборот_Кт']].query('Уровень_отч ==1')
OSV_2022_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 1 to 113
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Счет         76 non-null     object
 1   Уровень_отч  76 non-null     float64
 2   Оборот_Дт    70 non-null     float64
 3   Оборот_Кт    72 non-null     float64
dtypes: float64(3), object(1)
memory usage: 3.0+ KB

In [530]:
OSV_2023_drop = OSV_2023[['Счет', 'Уровень_отч', 'Оборот_Дт', 'Оборот_Кт']].query('Уровень_отч ==1')
OSV_2023_drop.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 117
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Счет         81 non-null     object
 1   Уровень_отч  81 non-null     float64
 2   Оборот_Дт    69 non-null     float64
 3   Оборот_Кт    76 non-null     float64
dtypes: float64(3), object(1)
memory usage: 3.2+ KB

##### Получаем данные из ЖП и группируем по счетам

In [531]:
# получем данные их ЖП
df2022_dt = df2022.groupby('Счет Дт')['Сумма'].sum().reset_index()
df2022_dt = df2022_dt.rename(columns={'Счет Дт':'Счет', 'Сумма':'Оборот_Дт'})
df2022_kt = df2022.groupby('Счет Кт')['Сумма'].sum().reset_index()
df2022_kt = df2022_kt.rename(columns={'Счет Кт':'Счет', 'Сумма':'Оборот_Кт'})

df2022_dt_kt = df2022_dt.merge(df2022_kt, on='Счет', how='outer')
df2022_dt_kt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Счет       74 non-null     object
 1   Оборот_Дт  71 non-null     float64
 2   Оборот_Кт  73 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.9+ KB

In [532]:
df2023_dt = df2023.groupby('Счет Дт')['Сумма'].sum().reset_index()
df2023_dt = df2023_dt.rename(columns={'Счет Дт':'Счет', 'Сумма':'Оборот_Дт'})
df2023_kt = df2023.groupby('Счет Кт')['Сумма'].sum().reset_index()
df2023_kt = df2023_kt.rename(columns={'Счет Кт':'Счет', 'Сумма':'Оборот_Кт'})

df2023_dt_kt = df2023_dt.merge(df2023_kt, on='Счет', how='outer')
df2023_dt_kt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Счет       77 non-null     object
 1   Оборот_Дт  70 non-null     float64
 2   Оборот_Кт  77 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.9+ KB

##### Объединяем ОСВ и ЖП и рассчитываем дельту в оборотах

In [533]:
# объединяем ОСВ и ЖП по признаку Счет и рассчитываем дельты в оборотах
completeness_2022 = OSV_2022_drop.merge(
    df2022_dt_kt, on='Счет', how='outer', suffixes=('_ОСВ', '_ЖП')).fillna(0).round(2)
completeness_2022['Разница Дт'] = completeness_2022['Оборот_Дт_ОСВ'] - \
    completeness_2022['Оборот_Дт_ЖП']
completeness_2022['Разница Кт'] = completeness_2022['Оборот_Кт_ОСВ'] - \
    completeness_2022['Оборот_Кт_ЖП']
completeness_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Счет           77 non-null     object
 1   Уровень_отч    77 non-null     float64
 2   Оборот_Дт_ОСВ  77 non-null     float64
 3   Оборот_Кт_ОСВ  77 non-null     float64
 4   Оборот_Дт_ЖП   77 non-null     float64
 5   Оборот_Кт_ЖП   77 non-null     float64
 6   Разница Дт     77 non-null     float64
 7   Разница Кт     77 non-null     float64
dtypes: float64(7), object(1)
memory usage: 4.9+ KB

In [534]:
# отбираем все выявленные односторонние проводки
completeness_2022_notnull = completeness_2022[(
    completeness_2022['Разница Дт'] != 0) | (completeness_2022['Разница Кт'] != 0)]
completeness_2022_notnull['Комментарий аудитора'] = 'Необходимо заполнить'

completeness_2022_notnull.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 76 to 76
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Счет                  1 non-null      object
 1   Уровень_отч           1 non-null      float64
 2   Оборот_Дт_ОСВ         1 non-null      float64
 3   Оборот_Кт_ОСВ         1 non-null      float64
 4   Оборот_Дт_ЖП          1 non-null      float64
 5   Оборот_Кт_ЖП          1 non-null      float64
 6   Разница Дт            1 non-null      float64
 7   Разница Кт            1 non-null      float64
 8   Комментарий аудитора  1 non-null      object
dtypes: float64(7), object(2)
memory usage: 80.0+ bytes

In [535]:
# объединяем ОСВ и ЖП по признаку Счет и рассчитываем дельты в оборотах
completeness_2023 = OSV_2023_drop.merge(
    df2023_dt_kt, on='Счет', how='outer', suffixes=('_ОСВ', '_ЖП')).fillna(0).round(2)
completeness_2023['Разница Дт'] = completeness_2023['Оборот_Дт_ОСВ'] - \
    completeness_2023['Оборот_Дт_ЖП']
completeness_2023['Разница Кт'] = completeness_2023['Оборот_Кт_ОСВ'] - \
    completeness_2023['Оборот_Кт_ЖП']
completeness_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Счет           82 non-null     object
 1   Уровень_отч    82 non-null     float64
 2   Оборот_Дт_ОСВ  82 non-null     float64
 3   Оборот_Кт_ОСВ  82 non-null     float64
 4   Оборот_Дт_ЖП   82 non-null     float64
 5   Оборот_Кт_ЖП   82 non-null     float64
 6   Разница Дт     82 non-null     float64
 7   Разница Кт     82 non-null     float64
dtypes: float64(7), object(1)
memory usage: 5.2+ KB

In [536]:
# отбираем все выявленные односторонние проводки
completeness_2023_notnull = completeness_2023[(
    completeness_2023['Разница Дт'] != 0) | (completeness_2023['Разница Кт'] != 0)]
completeness_2023_notnull['Комментарий аудитора'] = 'Необходимо заполнить'
completeness_2023_notnull.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 81 to 81
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Счет                  1 non-null      object
 1   Уровень_отч           1 non-null      float64
 2   Оборот_Дт_ОСВ         1 non-null      float64
 3   Оборот_Кт_ОСВ         1 non-null      float64
 4   Оборот_Дт_ЖП          1 non-null      float64
 5   Оборот_Кт_ЖП          1 non-null      float64
 6   Разница Дт            1 non-null      float64
 7   Разница Кт            1 non-null      float64
 8   Комментарий аудитора  1 non-null      object
dtypes: float64(7), object(2)
memory usage: 80.0+ bytes

##### Сохранение в excel

In [537]:
save_to_excel(completeness_2022_notnull, 'B_полнота', 2022, completeness_2022)
save_to_excel(completeness_2023_notnull, 'B_полнота', 2023, completeness_2023)

### Тесты по анализу отдельных операций

Для корректного анализа операций исключим все операции сделанные регламентными документами

In [538]:
df2022 = df2022[-df2022['Название_документа'].isin(exception_reg_documents)]
df2023 = df2023[-df2023['Название_документа'].isin(exception_reg_documents)]

#### Г. Выявление редких проводок

    Цель теста:
            Вывести список проводок, количество которых меньше, чем месяцев в аудируемом периоде.

##### Функция для отбора редких проводок

In [539]:
# функция считает количество всех уникальных проводок и отбирает все, количество которых меньше 12 шт. в год
# функция на вход получает df и год

def process_rare_transactions(df):    
    # Сформируем список вариантов проводок и рассчитаем их количество
    Dt_Kt_count = df.groupby(['Dt_Kt'])['N'].count().reset_index()

    # Выберем только те варианты проводок, которые встречаются меньше 12 раз за весь год
    rare_Dt_Kt = Dt_Kt_count.query('N < 12')

    # Отберем из журнала проводки из сформированного списка редких проводок
    rare_transactions = df[df['Dt_Kt'].isin(rare_Dt_Kt['Dt_Kt'])]
    # Добавляем столбец с комментарием
    rare_transactions['Комментарий_аудитора'] = 'Необходимо заполнить'
    rare_transactions['Критерий отбора'] = 'Редкая транзакция'

    return rare_transactions

In [540]:
# формируем список редких проводок
rare_transactions_2022 = process_rare_transactions(df2022)
rare_transactions_2023 = process_rare_transactions(df2023)

In [541]:
# группируем данные
df2022_rare_grouped = group_transaction(rare_transactions_2022)
df2023_rare_grouped = group_transaction(rare_transactions_2023)
display(df2022_rare_grouped.info())
print()
display(df2023_rare_grouped.info())

<class 'pandas.core.frame.DataFrame'>
Index: 90 entries, 34 to 82
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dt_Kt                 90 non-null     object
 1   Название_документа    90 non-null     object
 2   Критерий отбора       90 non-null     object
 3   Сумма                 90 non-null     float64
 4   Количество_проводок   90 non-null     int64
 5   Комментарий_аудитора  90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, 30 to 73
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dt_Kt                 102 non-null    object
 1   Название_документа    102 non-null    object
 2   Критерий отбора       102 non-null    object
 3   Сумма                 102 non-null    float64
 4   Количество_проводок   102 non-null    int64
 5   Комментарий_аудитора  102 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 5.6+ KB

None

##### Сохранение в excel

In [542]:
save_to_excel(df2022_rare_grouped, 'Г_редкие', 2022, rare_transactions_2022)
save_to_excel(df2023_rare_grouped, 'Г_редкие', 2023, rare_transactions_2023)

#### Тест Д. Поиск по подозрительными описанию операции

Цель теста:
        
        Выявить транзакции с подозрительным описанием, а также проводки без описания/с минимальным описанием.

##### Поиск по подозрительным словам

In [543]:
# Составляем регулярное выражение для поиска любой из указанных частей слова
regex_pattern = '|'.join(fishily_keywords)

# Выбираем строки, содержащие указанные части слова в любом регистре
fishily_rows_2022 = df2022[df2022['Содержание'].str.contains(regex_pattern, case=False)]
fishily_rows_2022['Критерий отбора'] = "подозрительная лексика"
fishily_rows_2022['Комментарий аудитора'] = "необходимо заполнить"

fishily_rows_2022.shape

(9, 17)

##### Поиск операций без описания или минимальным описанием

In [544]:
# посмотрим строки с описанием, в котором меньше 3-х слов
min_description_rows = df2022[
    (df2022['Содержание'].str.split().apply(len) <= 2)
]
min_description_rows['Содержание'].nunique()

15

In [545]:
# создадим список исключений из стандартных описаний проводок
dict_exceptions = ['Амортизация ОС', 
                   'Налог на прибыль','Реализация услуг', 'Удержан НДФЛ']

##### Функция для выгрузки операций с коротким или подозрительным описанием

In [546]:
def description_seaching(df, year):

    # Составляем регулярное выражение для поиска любой из указанных частей слова
    regex_pattern = '|'.join(fishily_keywords)
    
    # Выбираем строки, содержащие указанные в fishily_keywords слова в любом регистре
    fishily_rows = df[df['Содержание'].str.contains(regex_pattern, case=False)].copy()
    fishily_rows['Критерий отбора'] = "лексика"
    fishily_rows['Комментарий аудитора'] = "необходимо заполнить"
    
    # Выбираем строки, содержащие минимальное описание 
    min_description_rows = df[
    (df['Содержание'].str.split().apply(len) <= 2) & 
    (~df['Содержание'].str.contains('|'.join(dict_exceptions)))]

    min_description_rows['Критерий отбора'] = "нет_описания/минимальное"
    
    #объединяем таблицы    
    description_tranasation = pd.concat([fishily_rows, min_description_rows])
    
    # сгруппируем строки description_tranasation
    description_tranasation_group = description_tranasation.groupby(
        ['Dt_Kt', 'Название_документа', 'Содержание', 'Критерий отбора']
    ).agg({'Сумма': ['sum', 'count']}).reset_index()

    description_tranasation_group.columns = [
        'Dt_Kt', 'Название_документа','Содержание', 'Критерий отбора', 'Сумма', 'Количество_проводок'
    ]

    # Добавляем столбец с комментарием
    description_tranasation_group['Комментарий_аудитора'] = 'Необходимо заполнить'

    # Сортируем по сумме и названию документа
    description_tranasation_group = description_tranasation_group.sort_values(
        by=['Содержание', 'Сумма'], ascending=False)
    description_tranasation_group['Сумма'] = description_tranasation_group['Сумма'].round()
   
    return description_tranasation_group, description_tranasation

In [547]:
description_tranasation_group2022, description_tranasation2022 = description_seaching(df2022, 2022)
description_tranasation_group2023, description_tranasation2023 = description_seaching(df2023, 2023)

In [548]:
description_tranasation_group2023.shape

(56, 7)

In [549]:
description_tranasation_group2022.shape

(38, 7)

##### Сохранение в excel

In [550]:
save_to_excel(description_tranasation_group2022, 'Д_описание', 2022, description_tranasation2022)
save_to_excel(description_tranasation_group2023, 'Д_описание', 2023, description_tranasation2023)

#### Тест Е. Нерабочие и праздничные дни

Цель теста:
            
        Выявить транзакции, сформированные во внерабочее время/дни.

##### Сформируем списки нерабочих и праздничных дней в 2022

In [551]:
# Создание DataFrame с датами на весь 2022 год
dates_2022 = pd.date_range(start='2022-01-01', end='2022-12-31')
# Список дней исключений, когда выходные были сдвинуты
exception_dates_2022 = pd.to_datetime(['2022-03-05']) # даты исключения, если выходные в периоде переносились
# Фильтрация дат по субботам и воскресениям
saturdays_2022 = dates_2022[dates_2022.dayofweek == 5]  # 5 - это суббота
sundays_2022 = dates_2022[dates_2022.dayofweek == 6]  # 6 - это воскресенье
all_holidays_2022 = saturdays_2022.append(sundays_2022)
all_holidays_2022 = all_holidays_2022[~all_holidays_2022.isin(exception_dates_2022)]
all_holidays_2022

DatetimeIndex(['2022-01-01', '2022-01-08', '2022-01-15', '2022-01-22',
               '2022-01-29', '2022-02-05', '2022-02-12', '2022-02-19',
               '2022-02-26', '2022-03-12',
               ...
               '2022-10-23', '2022-10-30', '2022-11-06', '2022-11-13',
               '2022-11-20', '2022-11-27', '2022-12-04', '2022-12-11',
               '2022-12-18', '2022-12-25'],
              dtype='datetime64[ns]', length=104, freq=None)

In [552]:
#праздничные дни в периоде
public_holidays_2022 = pd.to_datetime(['2022-01-01', '2022-01-02', '2022-01-03',
                   '2022-01-04', '2022-01-05', '2022-01-06', 
                   '2022-01-07', '2022-01-08', '2022-02-23', 
                   '2022-03-08', '2022-03-07', '2022-05-02',
                   '2022-05-03', '2022-05-09', '2022-05-10', 
                   '2022-06-13', '2022-11-04'])
# даты исключения, когда день сокращённый
excep_dayes_time_2022 = pd.to_datetime(['2022-03-05', '2022-02-22', '2022-11-03'])

In [553]:
# всего нерабочие дни, количество должно соответствовать данным из рабочего календаря  на соответствующий  период
count_noworkdays_2022 = 118  # из рабочего календаря 2022 года
all_2022_holidays = all_holidays_2022.append(public_holidays_2022)
all_2022_holidays = all_2022_holidays.drop_duplicates()
# контроль количества нерабочих дней
if count_noworkdays_2022 == len(all_2022_holidays):
    print("Контроль Ок. Количество рабочих дней в выгрузке равно рабочим дням в календаре")
else:
    print("Контроль не пройден! Количество рабочих дней в выгрузке не равно рабочим дням в календаре")
all_2022_holidays

Контроль Ок. Количество рабочих дней в выгрузке равно рабочим дням в календаре

DatetimeIndex(['2022-01-01', '2022-01-08', '2022-01-15', '2022-01-22',
               '2022-01-29', '2022-02-05', '2022-02-12', '2022-02-19',
               '2022-02-26', '2022-03-12',
               ...
               '2022-01-07', '2022-02-23', '2022-03-08', '2022-03-07',
               '2022-05-02', '2022-05-03', '2022-05-09', '2022-05-10',
               '2022-06-13', '2022-11-04'],
              dtype='datetime64[ns]', length=118, freq=None)

##### Сформируем списки нерабочих и праздничных дней в 2023

In [554]:
# Создание DataFrame с датами на весь 2022 год
dates_2023 = pd.date_range(start='2023-01-01', end='2023-12-31')
# Список дней исключений, когда выходные были сдвинуты
exception_dates_2023 = pd.to_datetime([]) # если суббота или воскресенье сделали рабочим днем
# Фильтрация дат по субботам и воскресениям
saturdays_2023 = dates_2023[dates_2023.dayofweek == 5]  # 5 - это суббота
sundays_2023 = dates_2023[dates_2023.dayofweek == 6]  # 6 - это воскресенье
all_holidays_2023 = saturdays_2023.append(sundays_2023)
all_holidays_2023 = all_holidays_2023[~all_holidays_2023.isin(exception_dates_2023)]
all_holidays_2023

DatetimeIndex(['2023-01-07', '2023-01-14', '2023-01-21', '2023-01-28',
               '2023-02-04', '2023-02-11', '2023-02-18', '2023-02-25',
               '2023-03-04', '2023-03-11',
               ...
               '2023-10-29', '2023-11-05', '2023-11-12', '2023-11-19',
               '2023-11-26', '2023-12-03', '2023-12-10', '2023-12-17',
               '2023-12-24', '2023-12-31'],
              dtype='datetime64[ns]', length=105, freq=None)

In [555]:
#праздничные дни в периоде
public_holidays_2023 = pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03',
                   '2023-01-04', '2023-01-05', '2023-01-06', 
                   '2023-01-07', '2023-01-08', '2023-02-23', '2023-02-24', 
                   '2023-03-08', '2023-05-01',
                   '2023-05-08', '2023-05-09',  
                   '2023-06-12', '2023-11-06'])
# даты исключения, когда день сокращённый
excep_dayes_time_2023 = pd.to_datetime(['2022-03-07', '2022-11-03'])

In [556]:
# всего нерабочие дни, количество должно соответствовать данным из рабочего календаря  на соответствующий  период
count_noworkdays_2023 = 118  # из рабочего календаря 2023 года
all_2023_holidays = all_holidays_2023.append(public_holidays_2023)
all_2023_holidays = all_2023_holidays.drop_duplicates()
# контроль количества нерабочих дней
if count_noworkdays_2023 == len(all_2023_holidays):
    print("Контроль Ок. Количество рабочих дней в выгрузке равно рабочим дням в календаре")
else:
    print("Контроль не пройден! Количество рабочих дней в выгрузке не равно рабочим дням в календаре")
all_2023_holidays

Контроль Ок. Количество рабочих дней в выгрузке равно рабочим дням в календаре

DatetimeIndex(['2023-01-07', '2023-01-14', '2023-01-21', '2023-01-28',
               '2023-02-04', '2023-02-11', '2023-02-18', '2023-02-25',
               '2023-03-04', '2023-03-11',
               ...
               '2023-01-05', '2023-01-06', '2023-02-23', '2023-02-24',
               '2023-03-08', '2023-05-01', '2023-05-08', '2023-05-09',
               '2023-06-12', '2023-11-06'],
              dtype='datetime64[ns]', length=118, freq=None)

In [557]:
# словарь с датами исключений продолжительности рабочего дня 
excep_dayes_times = {
    2022: excep_dayes_time_2022,
    2023: excep_dayes_time_2023,
    
}

##### Функция для отбора операций созданных в праздничные дни и внерабочее  время

In [558]:
def analyze_work_time(df, all_holidays, year):
    # Срез по нерабочим дням (праздники)
    holidays_transactions = df.query('Дата in @all_holidays')
    # Исключаем регламентные документы проводимые во внерабочее время
    holidays_transactions = holidays_transactions.query(
        'Название_документа not in @exception_reg_documents')
    # Добавляем столбец с критерием отбора
    holidays_transactions['Критерий отбора'] = "операция отражена в выходные/праздники"

    # Группируем данные по заданным столбцам
    holidays_transactions_group = holidays_transactions.groupby(
        ['Dt_Kt', 'Название_документа', 'Критерий отбора']
    ).agg({'Сумма': ['sum', 'count']}).reset_index()

    # Переименуем столбцы
    holidays_transactions_group.columns = [
        'Dt_Kt', 'Название_документа', 'Критерий отбора', 'Сумма', 'Количество_проводок']
    holidays_transactions_group['Комментарий_аудитора'] = 'Необходимо заполнить'

    # срез документов по интервалу нерабочего времени с учетом исключений
    time_control_transactions = df[
    (
        ((df['Дата'].dt.time >= start_time_control) |
        (df['Дата'].dt.time <= end_time_control)) & 
        (~df['Дата'].dt.date.isin(excep_dayes_times[year].date))
    ) |
    (
        (df['Дата'].dt.date.isin(excep_dayes_times[year].date)) &
        ((df['Дата'].dt.time <= end_time_control) |
        (df['Дата'].dt.time >= start_time_control_extra))
        
    )
    ]

    # Исключаем регламентные документы
    time_control_transactions = time_control_transactions.query(
        'Название_документа not in @exception_reg_documents'
    )

    # Исключаем операции учтенные ранее в выборке выходных и праздничных дней
    time_control_transactions = time_control_transactions.query(
        'Дата not in @holidays_transactions["Дата"]'
    )

    # Добавляем столбец с критерием отбора
    time_control_transactions['Критерий отбора'] = "операция отражена во внерабочее время"

    # Группируем данные по заданным столбцам
    time_control_transactions_group = time_control_transactions.groupby(
        ['Dt_Kt', 'Название_документа', 'Критерий отбора']
    ).agg({'Сумма': ['sum', 'count']}).reset_index()

    # Переименуем столбцы
    time_control_transactions_group.columns = [
        'Dt_Kt', 'Название_документа', 'Критерий отбора', 'Сумма', 'Количество_проводок']

    # Добавляем столбец с комментарием
    time_control_transactions_group['Комментарий_аудитора'] = 'Необходимо заполнить'

    # Объединяем данные по праздникам и по нерабочему времени
    noworktime_transactions = pd.concat(
        [holidays_transactions, time_control_transactions])
    noworktime_transactions_group = pd.concat(
        [holidays_transactions_group, time_control_transactions_group]).sort_values(by=['Сумма', 'Название_документа'], 
                                                                                    ascending=False)

    # Возвращаем результат
    return noworktime_transactions, noworktime_transactions_group

In [559]:
# выгрузим данные
noworktime_transactions_2022, noworktime_transactions_group_2022 = analyze_work_time(
    df2022, all_2022_holidays, 2022)

In [560]:
noworktime_transactions_2023, noworktime_transactions_group_2023 = analyze_work_time(
    df2023, all_2023_holidays, 2023)

In [561]:
noworktime_transactions_group_2023.shape

(180, 6)

In [562]:
noworktime_transactions_group_2022.shape

(221, 6)

##### Сохранение в excel

In [563]:
save_to_excel(noworktime_transactions_group_2022, 'Е_внерабочие', 2022, noworktime_transactions_2022)

In [564]:
save_to_excel(noworktime_transactions_group_2023, 'Е_внерабочие', 2023, noworktime_transactions_2023)

#### Тест Ж. Операции выше порога

Цель теста:
            
          Выявить транзакции с суммой выше определенного порога.

##### Отбор операций по пороговой сумме

In [565]:
above_threshold_2022 = df2022.query('Сумма >= @threshold_sum')
# Добавляем столбец с критерием отбора
above_threshold_2022['Критерий отбора'] = "сумма операции выше порога"
above_threshold_2022 = above_threshold_2022.query(
        'Название_документа not in @exception_reg_documents')
above_threshold_2022.shape

(167, 16)

In [566]:
above_threshold_2023 = df2023.query('Сумма >= @threshold_sum')
# Добавляем столбец с критерием отбора
above_threshold_2023['Критерий отбора'] = "сумма операции выше порога"
above_threshold_2023 = above_threshold_2023.query(
        'Название_документа not in @exception_reg_documents')
above_threshold_2023.shape

(228, 16)

In [567]:
above_threshold_group_2022 = group_transaction(above_threshold_2022)
above_threshold_group_2023 = group_transaction(above_threshold_2023)
print(above_threshold_group_2022.shape)
print(above_threshold_group_2023.shape)

(29, 6)
(30, 6)

##### Сохранение в excel

In [568]:
save_to_excel(above_threshold_group_2022, 'Ж_выше_порога', 2022, above_threshold_2022)
save_to_excel(above_threshold_group_2023,'Ж_выше_порога', 2023, above_threshold_2023)

#### Тест З. Операции с отрицательными суммами

Цель теста:
            
        Выявить транзакции с отрицательными значениями.

In [569]:
negative_value_2022 = df2022.query('Сумма < 0')
# Добавляем столбец с критерием отбора
negative_value_2022['Критерий отбора'] = "отрицательная сумма"
negative_value_2022 = negative_value_2022.query(
        'Название_документа not in @exception_reg_documents')
negative_value_2022.shape

(920, 16)

In [570]:
negative_value_2023 = df2023.query('Сумма < 0')
# Добавляем столбец с критерием отбора
negative_value_2023['Критерий отбора'] = "отрицательная сумма"
negative_value_2023 = negative_value_2023.query(
        'Название_документа not in @exception_reg_documents')
negative_value_2023.shape

(995, 16)

In [571]:
negative_value_2022_group = group_transaction(negative_value_2022)
negative_value_2023_group = group_transaction(negative_value_2023)
print(negative_value_2022_group.shape)
print(negative_value_2022_group.shape)

(43, 6)
(43, 6)

##### Сохранение в excel

In [572]:
save_to_excel(negative_value_2023_group, 'З_отриц', 2023, negative_value_2023)
save_to_excel(negative_value_2022_group, 'З_отриц', 2022, negative_value_2022)

#### Тест И. Поиск дублей в  операциях

Цель теста:
            
        Выявление дублирующих транзакций, у которых совпадает: дата, счета, вид документа и сумма.

In [573]:
duplicates_2022 = df2022.copy()
duplicates_2022['Дата'] = duplicates_2022['Дата'].dt.date
duplicates_2022 = duplicates_2022[duplicates_2022.duplicated(
    subset=['Дата', 'Dt_Kt', 'Сумма', 'Название_документа'], keep=False)]
duplicates_2022['Критерий отбора'] = "Имеются дубликаты"
duplicates_2022 = duplicates_2022.query(
        'Название_документа not in @exception_reg_documents')
duplicates_2022.shape

(7524, 16)

In [574]:
duplicates_2023 = df2023.copy()
duplicates_2023['Дата'] = duplicates_2023['Дата'].dt.date
duplicates_2023 = duplicates_2023[duplicates_2023.duplicated(
    subset=['Дата', 'Dt_Kt', 'Сумма', 'Название_документа'], keep=False)]
duplicates_2023['Критерий отбора'] = "Имеются дубликаты"
duplicates_2023 = duplicates_2023.query(
        'Название_документа not in @exception_reg_documents')
duplicates_2023.shape

(7352, 16)

In [575]:
duplicates_2022_group = group_transaction(duplicates_2022)
duplicates_2023_group = group_transaction(duplicates_2023)
print(duplicates_2022_group.shape)
print(duplicates_2022_group.shape)

(60, 6)
(60, 6)

##### Сохранение в excel

In [576]:
save_to_excel(duplicates_2022_group, 'И_дубли', 2022, duplicates_2022)
save_to_excel(duplicates_2023_group, 'И_дубли', 2023, duplicates_2023)

#### Тест К. Спец суммы

Цель теста:
            
         Выявить транзакции со специфическими суммами, кратными 1 млн. руб., или заканчивающиеся на 999 или 999.99

In [577]:
special_amount_2022 = df2022[df2022['Сумма']
                             .apply(lambda x: (x % 1000000 == 0) 
                                    or ((x - 999.99) % 1000 == 0) or ((x - 999) % 1000 == 0)
                                                   )]
special_amount_2022['Критерий отбора'] = "спец. сумма"
special_amount_2022 = special_amount_2022.query(
    'Название_документа not in @exception_reg_documents')
special_amount_2022.shape

(139, 16)

In [578]:
special_amount_2023 = df2023[df2023['Сумма']
                             .apply(lambda x: (x % 1000000 == 0) 
                                    or ((x - 999.99) % 1000 == 0) or ((x - 999) % 1000 == 0)
                                                   )]
special_amount_2023['Критерий отбора'] = "спец. сумма"
special_amount_2023 = special_amount_2023.query(
    'Название_документа not in @exception_reg_documents')
special_amount_2023.shape

(161, 16)

In [579]:
special_amount_2022_group = group_transaction(special_amount_2022)
special_amount_2023_group = group_transaction(special_amount_2023)
print(special_amount_2022_group.shape)
print(special_amount_2022_group.shape)

(16, 6)
(16, 6)

##### Сохранение в excel

In [580]:
save_to_excel(special_amount_2023_group, 'К_спец', 2023, special_amount_2023)
save_to_excel(special_amount_2022_group, 'К_спец', 2022, special_amount_2022)

## Выводы

    В рамках первой части работы по загрузке и предобработке данных было сделано:
        1. загружены журналы операций, план-счетов и оборотно-сальдовые ведомости
        2. подготовлены общие функции для группировки и сохранения выгрузок в едином формате.
        3. скорректированы типы колонок
        4. добавлены колонки с дополнительной аналитикой (выделены названия документов, и комбинации проводок)
        5. установлены общие переменные (пороговая сумма, рабочие часы, список документов исключений, список подозрительных слов);
        6. заполнены пропуски в аналитиках на "нет описания".
        7. удалены ненужные колонки.
     
    Во второй части работы подготовлено 10 тестов с соответствии с технических заданием.
    В результате выгружается 20 файлов (10 по каждому году), в которых по 2 таблицы, в первой таблице отражается сгруппированный список транзакций, а во второй полный список, если необходима более детальная информация из журнала транзакций.